

<div flex-container="column" flex-align="space-between center">
     <div>
         <div class="p+">
            <strong class="fs-headline display-block">Sign Up</strong>
            <span class="fs-subhead tc-black-2 display-block">Get new account now...! trevel to the beautifull world</span>
             
             
             <div class="pt0">
                <div flex-container="row">
                    <div flex-item>
                        <lx-text-field label="Username">
                            <input type="text" ng-model="register.username" autofocus>
                        </lx-text-field>
                    </div>
                 </div>
                 <div flex-container="row">
                    <div flex-item>
                        <lx-text-field label="Email">
                            <input type="email" ng-model="register.email">
                        </lx-text-field>
                    </div>
                 </div>
                  <div flex-container="row">
                    <div flex-item>
                       <lx-text-field label="Password">
                        <input type="password" ng-model="register.password">
                        </lx-text-field>
                    </div>
                 </div>
             </div>
                          
            <div class="mb mt+">
                <button ng-click="doRegister(register)" class="btn btn--m btn--blue btn--raised" lx-ripple>Sign Up</button>
                
                
            </div>
             <div>
                <a class="fs-body-2"  ui-sref="app.login" href="#">Login</a> | <a class="fs-body-2" href="#">Lost Password</a>
                </div>
             
        </div>
    </div>        
</div>